@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;

  @apply bg-neutral-light-grey text-neutral-off-black md:text-2x font-bold;
}

.arrow_icon {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  @apply ml-1 bg-primary-purple p-4 rounded-full cursor-pointer hover:bg-neutral-off-black;
}
@media (min-width: 768px) {
  .arrow_icon {
    position: absolute;
    left: 95%;
    top: 0;
  }
}
